SITE_URL=https://www.partumdesign.com.mx/
SEARCH_CONSOLE_SITE_URL=https://www.partumdesign.com.mx/
GA4_PROPERTY_ID=
GOOGLE_APPLICATION_CREDENTIALS=
PAGESPEED_API_KEY=
CRUX_API_KEY=
DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=
SEMRUSH_API_KEY=
AHREFS_API_KEY=
